<!--views/site/about.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<img src="http://i288.photobucket.com/albums/ll198/hellokittykettlebells/imgres_zps7i4u76hb.jpg" alt="The Globe">

<h1>About Us</h1>

<p>The Planet began publication in 1775, with George Washington writing our first guest editorial for the daily edition.  Our first publisher, Burt Mason, was a man determined to print the truth!</p>

<p>Perry White, our Pulitzer Prize winning editor-in-chief succeeds George Taylor who has retired. Under Perry's leadership, the Daily Planet is the gold standard of journalism in the world, covering Earth's most intriguing extraterrestial beings. </p>

<a href="/">Back to the Main Page</a>
</body>
</html>