<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>

<body>
<img src="http://i288.photobucket.com/albums/ll198/hellokittykettlebells/e7976cc6-f8c9-48e4-b4d3-be5083ce7e41_zpsweln3dte.jpg" alt="Daily Planet">

<h1>Welcome to the Daily Planet</h1>

<a href="/about">About Us</a><br><br>
<a href="/articles">Articles Index</a><br><br>
<a href="/contact">How to Reach Us</a>
</body>

</html>

  