<!--views/authors/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an author</h1>
    <form method="post" action="/authors/<%= author.id %>?_method=PUT">
      <input type="text" name="author" placeholder="First name" value="<%= author.first_name %>"><br />
      <input type="text" name="author" placeholder="Last name" value="<%= author.last_name %>"><br />
      <button>Save </button>
    </form>
  </body>
</html>
