<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
Welcome, <%= user.email %>

<p>Enter all your pertinent info here, so we know who you are!</p>

<br><br>
<a href="/articles">Back to Article Index</a>
<br><br>
<a href="/authors">See All Authors</a>
<br><br>
<a href="/">Back to the Main Page</a>


</body>
</html>